@catalogItemWidth: 178px;
@catalogItemHeight: 269px;
@catalogItemWidthLandscape: 274px;
@catalogItemHeightLandscape: 153px;
@colorCatalogBorder: #64a7a5;

.catalog {
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			display: inline-block;
			width: @catalogItemWidth;
			height: @catalogItemHeight;
			border: 4px solid transparent;
			margin: 0 6px 6px 0;
			transition: all 0.35s;
			-o-transition: all 0.35s;
			-webkit-transition: all 0.35s;

			img {
				width: @catalogItemWidth;
				height: @catalogItemHeight;
				border: none;
				background: url('../img/cover_loading.png') no-repeat center center;
				background-size: cover;
			}

			img.no-image {
				background-image: url('../img/cover_no.png');
			}

			span {
				position: absolute;
				z-index: 100;
				color: #fff;
				top: 10px;
				left: 10px;
			}

			span.episode {
				top: auto;
				left: auto;
				right: 20px;
				bottom: 10px;
				font-size: 200%;
				font-weight: bold;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
			}
		}

		li.focus {
			border-color: @colorCatalogBorder;
		}
	}
}

.catalog.format-landscape {
	li {
		width: @catalogItemWidthLandscape;
		height: @catalogItemHeightLandscape;

		img {
			width: @catalogItemWidthLandscape;
			height: @catalogItemHeightLandscape;
		}
	}
}