<div class="carousel">
	<ul>
		<li>
			<img src="" alt="" class="pic" />
		</li>
		<li>
			<img src="" alt="" class="pic" />
		</li>
		<li class="focusable">
			<img src="" alt="" class="pic" />
		</li>
		<li>
			<img src="" alt="" class="pic" />
		</li>
		<li>
			<img src="" alt="" class="pic" />
		</li>
	</ul>

	<div class="position">
		{{#collection.items}}
		<span></span>
		{{/collection.items}}
	</div>
</div>