<div id="player-ui-paused">
	<div class="wrap">
		<div class="paused"><span class="icon-pause"></span> Paused</div>

		<div class="yaw">You Are watching</div>
		
		<div class="clear"></div>

		<div class="icons">
			<span class="icon-hd"></span>
			<span class="icon-18"></span>
		</div>

		<h1>{{video.title}}</h1>

		<div class="attributes">
			<span>{{countries}}</span>
			<span>{{video.year}}</span>
			<span>{{duration}}</span>
		</div>

		<div class="description">
		<p>{{video.description}}{{video.description}}{{video.description}}</p>
		</div>
	</div>
</div>

<div id="player-ui-season">
	<div class="wrap">
		<h1>TV show name</h1>
		<div class="season">Season One</div>

		<div class="episodes">
			<ul>
				<li>
					<div class="episode">
						<span class="episode-number">01</span><span class="episode-title">Lorem Ipsum dolor sit</span>
						<div class="episode-detail">
							<img src="https://pbs.twimg.com/profile_images/3274461853/52263042d7ca94ca26b0685d89132ba2.jpeg" alt="" class="pic" />
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium ut lorem et venenatis. Nam consequat neque risus, ut tincidunt enim volutpat quis. In egestas, libero at cursus convallis, metus nunc pellentesque ligula, non pellentesque nibh magna a leo.</p>
						</div>
					</div>
				</li>
				<li class="active">
					<div class="episode">
						<span class="episode-number">02</span><span class="episode-title">Lorem Ipsum dolor sit</span>
						<div class="episode-detail">
							<img src="http://level3.icflix.com/i/e505f123-b9b1-4038-93a3-d41a54322ecf.jpg/363x" alt="" class="pic" />
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium ut lorem et venenatis. Nam consequat neque risus, ut tincidunt enim volutpat quis. In egestas, libero at cursus convallis, metus nunc pellentesque ligula, non pellentesque nibh magna a leo.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="episode">
						<span class="episode-number">03</span><span class="episode-title">Lorem Ipsum dolor sit</span>
						<div class="episode-detail">
							<img src="https://pbs.twimg.com/profile_images/3274461853/52263042d7ca94ca26b0685d89132ba2.jpeg" alt="" class="pic" />
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium ut lorem et venenatis. Nam consequat neque risus, ut tincidunt enim volutpat quis. In egestas, libero at cursus convallis, metus nunc pellentesque ligula, non pellentesque nibh magna a leo.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="player-ui">
	<div class="wrap">
		<div class="progress-bar">
			<div class="inner">
				<div class="scrubber">
					<div class="popup focusable"><span class="scrubber-time">0:00:00</span><span class="beak"></span></div>
				</div>
			</div>
		</div>

		<div class="popup-language">
			<div class="col">
				<ul>
					<li class="t">Audio</li>
					<li class="focusable active">English</li>
					<li class="focusable">Deustch</li>
					<li class="focusable">Arabic</li>
				</ul>
			</div>
			<div class="col">
				<ul>
					<li class="t">Subtitles</li>
					<li class="focusable active">English</li>
					<li class="focusable">Deustch</li>
				</ul>
			</div>
		</div>

		<div class="time">
			<span class="current-time">0:00:00</span><span class="slash">/</span><span class="duration">0:00:00</span>
		</div>

		<div class="controls">
			<ul>
				<li class="focusable" data-btn="play"><span class="icon-pause"></span></li>
				<li class="focusable" data-btn="rwd"><span class="icon-rwd"></span></li>
				<li class="focusable" data-btn="fwd"><span class="icon-fwd"></span></li>
				<!--<li class="focusable" data-btn="episodes"><span class="icon-up"></span></li>
				<li class="focusable" data-btn="language"><span class="icon-bubble"></span></li>-->
			</ul>
		</div>

		<div class="title">{{video.title}}</div>
	</div>
</div>